<div id="reset-password" fxLayout="column">

    <div id="reset-password-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

        <div *ngIf="loading">
            <mat-spinner></mat-spinner>
        </div>
        <div ></div>

        <div id="reset-password-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

            <div class="logo">
                <img src="assets/images/logos/shm-logo.png">
            </div>

            <div class="title">RESET YOUR PASSWORD</div>

            <div *ngIf="loading">
                <mat-spinner></mat-spinner>
            </div>

            <div *ngIf="!loading">
                <div *ngIf="verificationCodeInvalid">
                    The password reset link you have used has expired, <a href="/auth/forgot-password">click here</a> to obtain a new link
                </div>
                <div *ngIf="showResetPasswordSuccessMessage">
                    Your password reset has been successful. Please login to the application again.
                </div>
                <form name="resetPasswordForm" *ngIf="!verificationCodeInvalid && !showResetPasswordSuccessMessage" [formGroup]="resetPasswordForm" novalidate>
    
                    <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                        <mat-label>Password (Min 1 capital, 1 small, 1 number and any of these special symbol - @$!%*?&)</mat-label>
                        <input matInput type="password" formControlName="password">
                        <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                        <mat-error>
                            Password is required
                        </mat-error>
                    </mat-form-field>
    
                    <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                        <mat-label>Password (Confirm)</mat-label>
                        <input matInput type="password" formControlName="passwordConfirm">
                        <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                        <mat-error *ngIf="resetPasswordForm.get('passwordConfirm').hasError('required')">
                            Password confirmation is required
                        </mat-error>
                        <mat-error *ngIf="!resetPasswordForm.get('passwordConfirm').hasError('required') &&
                                           resetPasswordForm.get('passwordConfirm').hasError('passwordsNotMatching')">
                            Passwords must match
                        </mat-error>
                    </mat-form-field>
    
                    <button mat-raised-button class="submit-button" color="accent"
                            aria-label="RESET MY PASSWORD" [disabled]="resetPasswordForm.invalid"
                            (click)="onCickResetPassword()">
                        RESET MY PASSWORD
                    </button>
                </form>
            </div>

            

            

            <div class="login" fxLayout="row" fxLayoutAlign="center center">
                <a class="link" [routerLink]="'auth/login'">Go back to login</a>
            </div>

        </div>

    </div>

</div>
