<div id="orders" class="page-layout carded fullwidth inner-scroll">

  <!-- TOP BACKGROUND -->
  <div class="top-bg accent"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">

    <!-- HEADER -->
    <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
      fxLayoutAlign.gt-sm="space-between center">

      <!-- APP TITLE -->
      <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
        <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
          Orders
        </span>
        <span style="margin: 0 15px;" class="logo-text h1"
          [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
          <button mat-raised-button (click)="onClickConfirm()">Confirm and Submit</button>
        </span>
      </div>
      <!-- / APP TITLE -->

      <!-- SEARCH -->
      <div class="search-wrapper mx-32 mx-md-0">
        <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
          <mat-icon>search</mat-icon>
          <input (keyup)="applyFilter($event.target.value)" placeholder="Search for materials">
        </div>
      </div>
      <!-- / SEARCH -->

    </div>
    <!-- / HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card">

      <mat-table class="orders-table" #table [dataSource]="dataSource" matSort [@animateStagger]="{value:'50'}"
        fusePerfectScrollbar>

        <!-- ID Column -->
        <ng-container matColumnDef="number">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Material No</mat-header-cell>
          <mat-cell *matCellDef="let material">
            <p class="text-truncate">{{material.number}}</p>
          </mat-cell>
        </ng-container>

        <!-- Description column -->
        <ng-container matColumnDef="description">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Description</mat-header-cell>
          <mat-cell *matCellDef="let material">
            <p class="text-truncate">{{material.description}}</p>
          </mat-cell>
        </ng-container>

        <!-- Quantity column -->
        <ng-container matColumnDef="quantity">
          <mat-header-cell *matHeaderCellDef>Quantity</mat-header-cell>
          <mat-cell *matCellDef="let material;">
            <mat-form-field (click)="$event.stopPropagation()" class="quantity">
              <input matInput type="number" [(ngModel)]="material.quantity" placeholder="" min="1" step="1"
                    (focusout)="onFocusOutQuantity($event)" 
                    onkeypress="return event.charCode >= 48">
            </mat-form-field>
          </mat-cell>
        </ng-container>

        <!-- Unit of Measure column -->
        <ng-container matColumnDef="unitOfMeasure">
          <mat-header-cell *matHeaderCellDef>Unit of Measure</mat-header-cell>
          <mat-cell *matCellDef="let material">
            <p class="text-truncate">{{material.unitOfMeasure}}</p>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

        <mat-row *matRowDef="let material; columns: displayedColumns;" class="product" matRipple
          (click)="onClickMaterialDetail(material)">
        </mat-row>

      </mat-table>

      <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="10"
        [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>

    </div>
  </div>
  <!-- / CENTER -->
</div>