<div class="navbar-top" [ngClass]="fuseConfig.layout.navbar">

  <div class="logo" style="text-align: center;">
    <!-- <img src="assets/images/logos/shm-logo.png"> -->
    <h2>OCPP</h2>
  </div>

  <!-- <div class="buttons">

      <button mat-icon-button class="toggle-sidebar-folded"
              (click)="toggleSidebarFolded()" fxHide.lt-lg>
          <mat-icon class="secondary-text">menu</mat-icon>
      </button>

      <button mat-icon-button class="toggle-sidebar-opened"
              (click)="toggleSidebarOpened()" fxHide.gt-md>
          <mat-icon class="secondary-text">arrow_back</mat-icon>
      </button>

  </div> -->

</div>


<div class="navbar-scroll-container" [ngClass]="fuseConfig.layout.navbar"
   fusePerfectScrollbar [fusePerfectScrollbarOptions]="{suppressScrollX: true}">

  <div class="user" fxLayout="column" [ngClass]="fuseConfig.layout.navbar">

      <div class="h3 username">{{userName}}</div>
      <div class="h5 email hint-text mt-8">{{email}}</div>
      <div class="avatar-container" [ngClass]="fuseConfig.layout.navbar.primaryBackground">
      </div>

  </div>

  <div class="navbar-content">
      <fuse-navigation class="material2" layout="vertical"></fuse-navigation>
  </div>

  <div class="navbar-footer" style="display: none;">
    <div>
        <img class="" src="assets/images/icons/IcMD_concern_question_icon.png">
    </div>
    <div class="footer-content">
      <h3>Issues or Concerns?</h3>
      <p>Contact us at</p>
      <p>info@icmd.ca</p>
      <p>or 1-855-955-IcMD (4263)</p>
    </div>
  </div>

</div>
