<div class="dialog-content-wrapper">
  <mat-toolbar class="mat-accent m-0">
      <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
        <div>
          <span class="title dialog-title">{{dialogTitle}}</span>
          <button mat-raised-button (click)="toggleMode()" aria-label="Edit dialog" *ngIf="mode !== 'create'" style="margin-left: 15px;">
            {{mode === 'view' ? 'Edit' : 'View'}}
          </button>
        </div>
        <button mat-icon-button (click)="closeDialoag()" aria-label="Close dialog">
            <mat-icon>close</mat-icon>
        </button>
      </mat-toolbar-row>
  </mat-toolbar>

  <div mat-dialog-content class="p-16 pb-0 m-0 mat-dialog-content" fusePerfectScrollbar *ngIf="mode !== 'view'">
      <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
          <mat-label>Connector Number</mat-label>
          <input matInput placeholder="Connector Number" name="connectorNumber" [(ngModel)]="connector.connectorNumber" required>
      </mat-form-field>

      <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
        <mat-label>Connector Type</mat-label>
        <input matInput placeholder="Connector Type" name="type" [(ngModel)]="connector.type">
      </mat-form-field>

      <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
        <mat-label>Power (KW)</mat-label>
        <input matInput placeholder="Power" name="power" [(ngModel)]="connector.power" type="number">
      </mat-form-field>

      <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
        <mat-label>Status</mat-label>
        <input matInput placeholder="Status" name="status" [(ngModel)]="connector.status">
      </mat-form-field>


  </div>

  <div mat-dialog-content class="p-16 pb-0 m-0 mat-dialog-content" fusePerfectScrollbar *ngIf="mode === 'view'">
      <p><span class="bold">Connector Number No :</span>  {{connector.connectorNumber}}</p>
      <p><span class="bold">Connector Type :</span>  {{connector.type}}</p>
      <p><span class="bold">Power :</span>  {{connector.power}}</p>
      <p><span class="bold">Status Number No :</span>  {{connector.status}}</p>
  </div>
  

  <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">
      <button mat-button color="primary" class="save-button" aria-label="DONE" (click)="closeDialoag()">
          CANCEL
      </button>
      <button mat-button color="primary" class="save-button" aria-label="DONE" [disabled]="!formValid()"
          (click)="onClickSave()" *ngIf="mode === 'update'">
          SAVE
      </button>
      <button mat-button color="primary" class="save-button" aria-label="DONE" [disabled]="!formValid()"
          (click)="onClickCreate()" *ngIf="mode === 'create'">
          CREATE
      </button>
  </div>
</div>