<div id="settings" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
            fxLayoutAlign.gt-sm="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    Settings
                </span>
            </div>
            <!-- / APP TITLE -->

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card" style="padding: 30px;">
            <div class="content" *ngIf="userType === 'admin'">
                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                    <mat-label>Configure (Send Order To) Email</mat-label>
                    <input matInput placeholder="Email" name="email" type="email"
                        [(ngModel)]="settings.sendOrderToEmail">
                </mat-form-field>
                <mat-card style="box-shadow: none; margin-bottom: 30px;">
                    <mat-card-title>
                        List of Facility Types
                    </mat-card-title>
                    <mat-card-content>
                        <mat-form-field appearance="outline" floatLabel="always" class="w-50-p">
                            <mat-label>Add New Facility Type</mat-label>
                            <input matInput placeholder="Add New Facility Type" name="facilityType" type="text"
                                (keyup.enter)="onClickAddFacility()" [(ngModel)]="newFacilityType">
                        </mat-form-field>
                        <table mat-table [dataSource]="dataSourceFacilityTypes" class="mat-elevation-z8" width="50%">
                            <ng-container matColumnDef="facilityType">
                                <th mat-header-cell *matHeaderCellDef> Facility Type </th>
                                <td mat-cell *matCellDef="let element"> {{element}} </td>
                            </ng-container>
                            <ng-container matColumnDef="deleteIcon">
                                <th mat-header-cell *matHeaderCellDef></th>
                                <td mat-cell *matCellDef="let element, let i = index">
                                    <span (click)="onClickDeleteFacility(i)" style="cursor: pointer;">
                                        <mat-icon>delete</mat-icon>
                                    </span>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumnsFacilityTypes"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumnsFacilityTypes;"></tr>
                        </table>
                    </mat-card-content>
                </mat-card>

                

                <button mat-raised-button color="primary" class="save-button" aria-label="DONE" (click)="onClickSave()">
                    Save Settings
                </button>

                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p" style="margin-top: 30px;">
                    <mat-label>API Token</mat-label>
                    <input matInput placeholder="API Token" name="apiToken" type="text" readonly
                        [(ngModel)]="user.apiToken">
                </mat-form-field>

                <button mat-raised-button color="primary" class="save-button" aria-label="DONE" (click)="onClickGenerateToken()">
                    Generate Token
                </button>
            </div>
            <div class="content" *ngIf="userType === 'customer'">
                <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
                    <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                        My Address List
                    </span>
                    <span style="margin: 0 15px;" class="logo-text h1"
                        [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                        <button mat-raised-button (click)="onClickAddAddress()">Add</button>
                    </span>
                </div>

                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8"
                    style="width: 100%; margin-top: 30px;">
                    <ng-container matColumnDef="addressName">
                        <th mat-header-cell *matHeaderCellDef> Facility Name. </th>
                        <td mat-cell *matCellDef="let element"> {{element.addressName}} </td>
                    </ng-container>
                    <ng-container matColumnDef="fullAddress">
                        <th mat-header-cell *matHeaderCellDef> Full Address </th>
                        <td mat-cell *matCellDef="let element"> {{getFullAddress(element)}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; let i = index, columns: displayedColumns;"
                        (click)="onClickAddress(row, i)" style="cursor: pointer;"></tr>

                </table>

            </div>

        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>