<div class="dialog-content-wrapper">
  <mat-toolbar class="mat-accent m-0">
    <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
      <div>
        <span class="title dialog-title">{{dialogTitle}}</span>
        <button mat-raised-button (click)="toggleMode()" aria-label="Edit dialog" *ngIf="mode !== 'create'" style="margin-left: 15px;">
          {{mode === 'view' ? 'Edit' : 'View'}}
        </button>
      </div>
      <button mat-icon-button (click)="closeDialoag()" aria-label="Close dialog">
          <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <div mat-dialog-content class="p-16 pb-0 m-0 mat-dialog-content" fusePerfectScrollbar *ngIf="mode !== 'view'">
      <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
          <mat-label>Appointment No</mat-label>
          <input matInput placeholder="Appointment No" name="appointmentNo" [(ngModel)]="appointment.appointmentNo" required>
      </mat-form-field>

      <!-- <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
        <mat-label>Appointment Date and Time</mat-label>
        <input matInput placeholder="Appointment Date and Time" name="type" [(ngModel)]="appointment.appointmentDateTime">
      </mat-form-field> -->

      <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
        <mat-label>Estimated Cost</mat-label>
        <input matInput placeholder="Estimated Cost" name="estimatedCost" [(ngModel)]="appointment.estimatedCost" type="number">
      </mat-form-field>

      <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
        <mat-label>Actual Cost</mat-label>
        <input matInput placeholder="Actual Cost" name="actualCost" [(ngModel)]="appointment.actualCost" type="number">
      </mat-form-field>

      <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
        <mat-label>Status</mat-label>
        <input matInput placeholder="Status" name="status" [(ngModel)]="appointment.status">
      </mat-form-field>


  </div>

  <div mat-dialog-content class="p-16 pb-0 m-0 mat-dialog-content" fusePerfectScrollbar *ngIf="mode === 'view'">
      <p><span class="bold">Appointment No :</span>  {{appointment.appointmentNo}}</p>
      <p><span class="bold">Appointment Date and Time :</span>  {{appointment.createdAt | date: 'medium'}}</p>
      <p><span class="bold">Estimated Cost :</span>  {{appointment.estimatedCost}}</p>
      <p><span class="bold">Actual Cost :</span>  {{appointment.actualCost}}</p>
      <p><span class="bold">Status :</span>  {{appointment.status}}</p>
  </div>
  

  <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">
      <button mat-button color="primary" class="save-button" aria-label="DONE" (click)="closeDialoag()">
          CANCEL
      </button>
      <button mat-button color="primary" class="save-button" aria-label="DONE" [disabled]="!formValid()"
          (click)="onClickSave()" *ngIf="mode === 'update'">
          SAVE
      </button>
      <button mat-button color="primary" class="save-button" aria-label="DONE" [disabled]="!formValid()"
          (click)="onClickCreate()" *ngIf="mode === 'create'">
          CREATE
      </button>
  </div>
</div>