<div class="dialog-content-wrapper">
  <mat-toolbar class="mat-accent m-0">
      <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
        <div>
          <span class="title dialog-title">{{dialogTitle}}</span>
          <button mat-raised-button (click)="toggleMode()" aria-label="Edit dialog" *ngIf="mode !== 'create'" style="margin-left: 15px;">
            {{mode === 'view' ? 'Edit' : 'View'}}
          </button>
        </div>
        <button mat-icon-button (click)="closeDialoag()" aria-label="Close dialog">
            <mat-icon>close</mat-icon>
        </button>
      </mat-toolbar-row>
  </mat-toolbar>

  <div mat-dialog-content class="p-16 pb-0 m-0 mat-dialog-content" fusePerfectScrollbar *ngIf="mode !== 'view'">
      <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
          <mat-label>Station No</mat-label>
          <input matInput placeholder="Station No" name="stationNumber" [(ngModel)]="station.stationNumber" required>
      </mat-form-field>

      <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
          <mat-label>Station Name</mat-label>
          <input matInput placeholder="Station Name" name="stationName" [(ngModel)]="station.stationName">
      </mat-form-field>

      <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
          <mat-label>Business Start Time</mat-label>
          <input matInput placeholder="Business Start Time" name="businessStartTime" [(ngModel)]="station.businessStartTime">
      </mat-form-field>

      <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
          <mat-label>Business End Time</mat-label>
          <input matInput placeholder="Business End Time" name="businessEndTime" [(ngModel)]="station.businessEndTime">
      </mat-form-field>

      <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
        <mat-label>Phone Number</mat-label>
        <input matInput placeholder="Phone No" name="phoneNumber" [(ngModel)]="station.phoneNumber">
      </mat-form-field>

      <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
        <mat-label>City</mat-label>
        <input matInput placeholder="City" name="city" [(ngModel)]="station.city">
      </mat-form-field>

      <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
        <mat-label>Picture</mat-label>
        <input matInput placeholder="Picture" name="picture" [(ngModel)]="station.picture">
      </mat-form-field>
  </div>

  <div mat-dialog-content class="p-16 pb-0 m-0 mat-dialog-content" fusePerfectScrollbar *ngIf="mode === 'view'">
      <p><span class="bold">Station No :</span>  {{station.stationNumber}}</p>
      <p><span class="bold">Station Name :</span> {{station.stationName}}</p>
      <p><span class="bold">Business Start Time :</span> {{station.businessStartTime}}</p>
      <p><span class="bold">Business End Time :</span> {{station.businessEndTime}}</p>
      <p><span class="bold">City :</span> {{station.city}}</p>
      <p><span class="bold">Phone Number :</span> {{station.phoneNumber}}</p>
  </div>
  

  <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">
      <button mat-button color="primary" class="save-button" aria-label="DONE" (click)="closeDialoag()">
          CANCEL
      </button>
      <button mat-button color="primary" class="save-button" aria-label="DONE" [disabled]="!formValid()"
          (click)="onClickSave()" *ngIf="mode === 'update'">
          SAVE
      </button>
      <button mat-button color="primary" class="save-button" aria-label="DONE" [disabled]="!formValid()"
          (click)="onClickCreate()" *ngIf="mode === 'create'">
          CREATE
      </button>
  </div>
</div>