<div class="dialog-content-wrapper">
  <mat-toolbar class="mat-accent m-0">
    <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
      <span class="title dialog-title">{{dialogTitle}}</span>
      <button mat-icon-button (click)="closeDialoag()" aria-label="Close dialog">
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <div mat-dialog-content class="p-16 pb-0 m-0 mat-dialog-content" fusePerfectScrollbar>

    <mat-form-field class="w-100-p">
      <mat-label>Facility Name</mat-label>
      <input matInput placeholder="Facility Name" name="addressName" (focusout)="onFocusOutField($event)" [(ngModel)]="selectedAddress.addressName" required>
    </mat-form-field>

    <mat-form-field class="w-100-p">
      <mat-label>Address</mat-label>
      <input matInput placeholder="Address" name="addressLine1" (focusout)="onFocusOutField($event)" [(ngModel)]="selectedAddress.addressLine1" required>
    </mat-form-field>

    <mat-form-field class="w-100-p">
      <mat-label>City</mat-label>
      <input matInput placeholder="City" name="city" (focusout)="onFocusOutField($event)" [(ngModel)]="selectedAddress.city" required>
    </mat-form-field>

    <mat-form-field class="w-100-p">
      <mat-label>Province</mat-label>
      <input matInput placeholder="Province" (focusout)="onFocusOutField($event)" name="province" [(ngModel)]="selectedAddress.province" required>
    </mat-form-field>

    <mat-form-field class="w-100-p">
      <mat-label>Postal Code</mat-label>
      <input matInput placeholder="Postal Code" name="postalCode" mask="S0S 0S0" [(ngModel)]="selectedAddress.postalCode" 
             (focusout)="onFocusOutPostalCode($event)"
             required>
    </mat-form-field>
  </div>

  <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">
    <button mat-raised-button color="primary" (click)="onClickSave()" [disabled]="!formValid()" *ngIf="mode === 'update'">
      Save
    </button>
    <button mat-raised-button color="primary" (click)="onClickAdd()" [disabled]="!formValid()" *ngIf="mode === 'create'">
      Add
    </button>
  </div>
</div>