@import "src/@fuse/scss/fuse";

::ng-deep .order-submitted-detail-dialog {

    table {
      width: 100%;
    }

    @include media-breakpoint('xs') {
        width: 100%;
    }

    @include media-breakpoint('gt-xs') {
        width: 480px;
    }

    .mat-dialog-container {
        padding: 0;
    }

    .mat-dialog-content {
        height: 450px !important;
    }

    .time-slot {
        button {
            margin: 5px;
            width: 31%;
        }
    }

    .dialog-content-wrapper {
        display: flex;
        flex-direction: column;
    }

    .primary-color-input,
    .secondary-color-input {
        padding: 6px 8px;
    }
}
