<div class="dialog-content-wrapper">
  <mat-toolbar class="mat-accent m-0">
      <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
          <span class="title dialog-title">{{dialogTitle}}</span>
          <button mat-icon-button (click)="closeDialoag()" aria-label="Close dialog">
              <mat-icon>close</mat-icon>
          </button>
      </mat-toolbar-row>
  </mat-toolbar>

  <div mat-dialog-content class="p-16 pb-0 m-0 mat-dialog-content" fusePerfectScrollbar>
    <h2>Customer Details</h2>
    {{order.customerName}} <br>
    {{order.email}} <br>
    <b>Shipping address:</b> <br>
    {{order.address?.addressName}} <br>
    {{order.address.addressLine1}} <br>
    {{order.address.city}}, {{order.address.province}}  <br>
    {{order.address.postalCode}}

    <h2>Order Details</h2>
    <b>Order No:</b> {{order.orderNo}} <br>
    <b>Order Required By:</b> {{order.dateRequired | date: 'longDate'}} <br>
    <b>Order Priority:</b> {{order.orderPriority}} <br>
    <b>Facility Type:</b> {{order.facilityType}} <br>
    <span *ngIf="order.deliveryInstructions && order.deliveryInstructions.length > 0"> <b>Delivery Instructions:</b> {{order.deliveryInstructions}}</span>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="margin: 30px 0;">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
    
      <!-- Position Column -->
      <ng-container matColumnDef="materialNo">
        <th mat-header-cell *matHeaderCellDef> Material No. </th>
        <td mat-cell *matCellDef="let element"> {{element.number}} </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
      </ng-container>
    
      <!-- Weight Column -->
      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef> Quantity </th>
        <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
      </ng-container>

      <!-- Allocated Column -->
      <ng-container matColumnDef="allocated">
        <th mat-header-cell *matHeaderCellDef> Allocated </th>
        <td mat-cell *matCellDef="let element"> {{element.allocated}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="unitOfMeasure">
        <th mat-header-cell *matHeaderCellDef> Unit of Measure </th>
        <td mat-cell *matCellDef="let element"> {{element.unitOfMeasure}} </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>    
  </div>

  <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">
      <button mat-button color="primary"
              class="save-button"
              aria-label="DONE"
              (click)="onSubmitOrder()">
          DONE
      </button>
  </div>
</div>
