<div id="payment-transaction" class="page-layout carded fullwidth inner-scroll">

  <!-- TOP BACKGROUND -->
  <div class="top-bg accent"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">

      <!-- HEADER -->
      <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
          fxLayoutAlign.gt-sm="space-between center">

          <!-- APP TITLE -->
          <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
              <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                  Payment Transactions
              </span>
          </div>
          <!-- / APP TITLE -->

          <!-- SEARCH -->
          <div class="search-wrapper mx-32 mx-md-0">
              <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                  <mat-icon>search</mat-icon>
                  <input (keyup)="applyFilter($event.target.value)" placeholder="Search for Payment Transactions">
              </div>
          </div>
          <!-- / SEARCH -->

      </div>
      <!-- / HEADER -->

      <!-- CONTENT CARD -->
      <div class="content-card">

          <mat-table class="payment-transaction-table" #table [dataSource]="dataSource" matSort [@animateStagger]="{value:'50'}" fusePerfectScrollbar>

              <!-- Username Column -->
              <ng-container matColumnDef="username">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Username</mat-header-cell>
                  <mat-cell *matCellDef="let pt">
                      <p class="text-truncate">{{pt.username}}</p>
                  </mat-cell>
              </ng-container>

              <!-- Appointment No Column -->
              <ng-container matColumnDef="appointmentNo">
                <mat-header-cell *matHeaderCellDef mat-sort-header>AppointmentNo</mat-header-cell>
                <mat-cell *matCellDef="let pt">
                    <p class="text-truncate">{{pt.appointmentNo}}</p>
                </mat-cell>
              </ng-container>

              <!-- Station Column -->
              <ng-container matColumnDef="stationName">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Station</mat-header-cell>
                <mat-cell *matCellDef="let pt">
                    <p class="text-truncate">{{pt.stationName}}</p>
                </mat-cell>
              </ng-container>

              <!-- Amount Column -->
              <ng-container matColumnDef="amount">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Amount</mat-header-cell>
                <mat-cell *matCellDef="let pt">
                    <p class="text-truncate">{{pt.amount}}</p>
                </mat-cell>
              </ng-container>

              <!-- Status Column -->
              <ng-container matColumnDef="status">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
                <mat-cell *matCellDef="let pt">
                    <p class="text-truncate">{{pt.status}}</p>
                </mat-cell>
              </ng-container>

               <!-- Transaction date and time -->
               <ng-container matColumnDef="dateTime">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Date Time</mat-header-cell>
                <mat-cell *matCellDef="let pt">
                    <p class="text-truncate">{{pt.createdAt | date: 'medium'}}</p>
                </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

              <mat-row *matRowDef="let pt; columns: displayedColumns;" class="product" matRipple>
              </mat-row>

          </mat-table>

          <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="25"
              [pageSizeOptions]="[5, 10, 25, 100]">
          </mat-paginator>

      </div>
      <!-- / CONTENT CARD -->
  </div>
  <!-- / CENTER -->
</div>