<div class="dialog-content-wrapper">
    <mat-toolbar class="mat-accent m-0">
        <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{dialogTitle}}</span>
            <button mat-icon-button (click)="closeDialoag()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-16 pb-0 m-0 mat-dialog-content" fusePerfectScrollbar *ngIf="mode !== 'view'">
        <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
            <mat-label>Material No</mat-label>
            <input matInput placeholder="Material No" name="number" [(ngModel)]="material.number" required>
        </mat-form-field>

        <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
            <mat-label>Description</mat-label>
            <input matInput placeholder="Description" name="description" [(ngModel)]="material.description">
        </mat-form-field>

        <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
            <mat-label>Unit of Measure</mat-label>
            <input matInput placeholder="Unit of Measure" name="unitOfMeasure" [(ngModel)]="material.unitOfMeasure">
        </mat-form-field>

        <div class="w-100-p" style="margin-top: 20px;">
            <mat-checkbox name="inactive" [(ngModel)]="material.inactive">Inactive</mat-checkbox>
        </div>
    </div>

    <div mat-dialog-content class="p-16 pb-0 m-0 mat-dialog-content" fusePerfectScrollbar *ngIf="mode === 'view'">
        <p><span class="bold">Material No :</span>  {{material.number}}</p>
        <p><span class="bold">Description :</span> {{material.description}}</p>
        <p><span class="bold">Unit of Measure :</span> {{material.unitOfMeasure}}</p>
    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">
        <button mat-button color="primary" class="save-button" aria-label="DONE" (click)="closeDialoag()">
            CANCEL
        </button>
        <button mat-button color="primary" class="save-button" aria-label="DONE" [disabled]="!formValid()"
            (click)="onClickSave()" *ngIf="mode === 'update'">
            SAVE
        </button>
        <button mat-button color="primary" class="save-button" aria-label="DONE" [disabled]="!formValid()"
            (click)="onClickCreate()" *ngIf="mode === 'create'">
            CREATE
        </button>
    </div>
</div>