<div id="charge-point" class="page-layout carded fullwidth inner-scroll">

  <!-- TOP BACKGROUND -->
  <div class="top-bg accent"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">

      <!-- HEADER -->
      <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
          fxLayoutAlign.gt-sm="space-between center">

          <!-- APP TITLE -->
          <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
              <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                  Charge Point
              </span>
              <span style="margin: 0 15px;" class="logo-text h1"
                  [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                  <button mat-raised-button (click)="onClickCreate()">Add</button>
              </span>
          </div>
          <!-- / APP TITLE -->

          <!-- SEARCH -->
          <div class="search-wrapper mx-32 mx-md-0">
              <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                  <mat-icon>search</mat-icon>
                  <input (keyup)="applyFilter($event.target.value)" placeholder="Search for Charge Point">
              </div>
          </div>
          <!-- / SEARCH -->

      </div>
      <!-- / HEADER -->

      <!-- CONTENT CARD -->
      <div class="content-card">

          <mat-table class="charge-point-table" #table [dataSource]="dataSource" matSort [@animateStagger]="{value:'50'}" fusePerfectScrollbar>

              <!-- ID Column -->
              <ng-container matColumnDef="chargePointNumber">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Charge Point Number</mat-header-cell>
                <mat-cell *matCellDef="let chargePoint">
                    <p class="text-truncate">{{chargePoint.chargePointNumber}}</p>
                </mat-cell>
              </ng-container>

              <!-- Charge Point Model Column -->
              <ng-container matColumnDef="chargePointModel">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Charge Point Model</mat-header-cell>
                <mat-cell *matCellDef="let chargePoint">
                    <p class="text-truncate">{{chargePoint.chargePointModel}}</p>
                </mat-cell>
              </ng-container>

              <!-- Serial Number Column -->
              <ng-container matColumnDef="serialNumber">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Serial Number</mat-header-cell>
                <mat-cell *matCellDef="let chargePoint">
                    <p class="text-truncate">{{chargePoint.serialNumber}}</p>
                </mat-cell>
              </ng-container>

              <!-- Meter Serial Number Column -->
              <ng-container matColumnDef="meterSerialNumber">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Meter Serial Number</mat-header-cell>
                <mat-cell *matCellDef="let chargePoint">
                    <p class="text-truncate">{{chargePoint.meterSerialNumber}}</p>
                </mat-cell>
              </ng-container>

              <!-- Meter Type Column -->
              <ng-container matColumnDef="meterType">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Meter Type</mat-header-cell>
                <mat-cell *matCellDef="let chargePoint">
                    <p class="text-truncate">{{chargePoint.meterType}}</p>
                </mat-cell>
              </ng-container>

              <!-- Vendor Column -->
              <ng-container matColumnDef="vendor">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Vendor</mat-header-cell>
                <mat-cell *matCellDef="let chargePoint">
                    <p class="text-truncate">{{chargePoint.vendor}}</p>
                </mat-cell>
              </ng-container>

              <!-- OCPP FW Version Column -->
              <ng-container matColumnDef="ocppFwVersion">
                <mat-header-cell *matHeaderCellDef mat-sort-header>OCPP FW Version</mat-header-cell>
                <mat-cell *matCellDef="let chargePoint">
                    <p class="text-truncate">{{chargePoint.ocppFwVersion}}</p>
                </mat-cell>
              </ng-container>

              <!-- SECC FW Version Column -->
              <ng-container matColumnDef="seccFwVersion">
                <mat-header-cell *matHeaderCellDef mat-sort-header>SECC FW Version</mat-header-cell>
                <mat-cell *matCellDef="let chargePoint">
                    <p class="text-truncate">{{chargePoint.seccFwVersion}}</p>
                </mat-cell>
              </ng-container>

              <!-- ICCID Column -->
              <ng-container matColumnDef="iccid">
                <mat-header-cell *matHeaderCellDef mat-sort-header>ICCID</mat-header-cell>
                <mat-cell *matCellDef="let chargePoint">
                    <p class="text-truncate">{{chargePoint.iccid}}</p>
                </mat-cell>
              </ng-container>

              <!-- IMSI Column -->
              <ng-container matColumnDef="imsi">
                <mat-header-cell *matHeaderCellDef mat-sort-header>IMSI</mat-header-cell>
                <mat-cell *matCellDef="let chargePoint">
                    <p class="text-truncate">{{chargePoint.imsi}}</p>
                </mat-cell>
              </ng-container>

              <!-- Network Column -->
              <ng-container matColumnDef="network">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Network</mat-header-cell>
                <mat-cell *matCellDef="let chargePoint">
                    <p class="text-truncate">{{chargePoint.network}}</p>
                </mat-cell>
              </ng-container>

              <!-- TimeZone Column -->
              <ng-container matColumnDef="timezone">
                <mat-header-cell *matHeaderCellDef mat-sort-header>TimeZone</mat-header-cell>
                <mat-cell *matCellDef="let chargePoint">
                    <p class="text-truncate">{{chargePoint.timezone}}</p>
                </mat-cell>
              </ng-container>

              <!-- lastConnectTime Column -->
              <ng-container matColumnDef="lastConnectTime">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Last Connect Time</mat-header-cell>
                <mat-cell *matCellDef="let chargePoint">
                    <p class="text-truncate">{{chargePoint.lastConnectTime}}</p>
                </mat-cell>
              </ng-container>

              <!-- onlineTime Column -->
              <ng-container matColumnDef="onlineTime">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Online Time</mat-header-cell>
                <mat-cell *matCellDef="let chargePoint">
                    <p class="text-truncate">{{chargePoint.onlineTime}}</p>
                </mat-cell>
              </ng-container>

              <!-- Note Column -->
              <ng-container matColumnDef="note">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Note</mat-header-cell>
                <mat-cell *matCellDef="let chargePoint">
                    <p class="text-truncate">{{chargePoint.note}}</p>
                </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

              <mat-row *matRowDef="let chargePoint; columns: displayedColumns;" class="product" matRipple
                  (click)="onClickDetail(chargePoint)">
              </mat-row>

          </mat-table>

          <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="25"
              [pageSizeOptions]="[5, 10, 25, 100]">
          </mat-paginator>

      </div>
      <!-- / CONTENT CARD -->
  </div>
  <!-- / CENTER -->
</div>