<div id="order-submitteds" class="page-layout carded fullwidth inner-scroll">

  <!-- TOP BACKGROUND -->
  <div class="top-bg accent"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">

      <!-- HEADER -->
      <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
          fxLayoutAlign.gt-sm="space-between center">

          <!-- APP TITLE -->
          <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
              <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                  Previous Orders
              </span>
          </div>
          <!-- / APP TITLE -->

          <!-- SEARCH -->
          <div class="search-wrapper mx-32 mx-md-0">
              <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                  <mat-icon>search</mat-icon>
                  <input (keyup)="applyFilter($event.target.value)" placeholder="Search for Posted orders">
              </div>
          </div>
          <!-- / SEARCH -->

      </div>
      <!-- / HEADER -->

      <!-- CONTENT CARD -->
      <div class="content-card">

          <mat-table class="order-submitteds-table" #table [dataSource]="dataSource" matSort [@animateStagger]="{value:'50'}"
              fusePerfectScrollbar>

               <!-- Customer Column -->
               <ng-container matColumnDef="orderNo">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Order No</mat-header-cell>
                    <mat-cell *matCellDef="let order">
                        <p class="text-truncate">{{order.orderNo}}</p>
                    </mat-cell>
                </ng-container>

              <!-- Create at column -->
              <ng-container matColumnDef="createdAt">
                  <mat-header-cell *matHeaderCellDef>Posted on</mat-header-cell>
                  <mat-cell *matCellDef="let order">
                      <p class="text-truncate">{{order.createdAt | date:'MMM d, y h:mm a'}}</p>
                  </mat-cell>
              </ng-container>

              <!-- Status -->
              <ng-container matColumnDef="status">
                <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
                <mat-cell *matCellDef="let order">
                    <p class="text-truncate">{{order.status | titlecase}}</p>
                </mat-cell>
            </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

              <mat-row *matRowDef="let order; columns: displayedColumns;" class="product" matRipple (click)="onClickOrder(order)">
              </mat-row>

          </mat-table>

          <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="25"
              [pageSizeOptions]="[5, 10, 25, 100]">
          </mat-paginator>

      </div>
      <!-- / CONTENT CARD -->
  </div>
  <!-- / CENTER -->
</div>