<div id="appointment" class="page-layout carded fullwidth inner-scroll">

  <!-- TOP BACKGROUND -->
  <div class="top-bg accent"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">

      <!-- HEADER -->
      <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
          fxLayoutAlign.gt-sm="space-between center">

          <!-- APP TITLE -->
          <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
              <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                  Appointments
              </span>
              <span style="margin: 0 15px;" class="logo-text h1"
                  [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                  <button mat-raised-button (click)="onClickCreate()">Add</button>
              </span>
          </div>
          <!-- / APP TITLE -->

          <!-- SEARCH -->
          <div class="search-wrapper mx-32 mx-md-0">
              <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                  <mat-icon>search</mat-icon>
                  <input (keyup)="applyFilter($event.target.value)" placeholder="Search for Appointment">
              </div>
          </div>
          <!-- / SEARCH -->

      </div>
      <!-- / HEADER -->

      <!-- CONTENT CARD -->
      <div class="content-card">

          <mat-table class="appointment-table" #table [dataSource]="dataSource" matSort [@animateStagger]="{value:'50'}" fusePerfectScrollbar>

              <!-- Appointment No Column -->
              <ng-container matColumnDef="appointmentNo">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Appointment No</mat-header-cell>
                  <mat-cell *matCellDef="let appointment">
                      <p class="text-truncate">{{appointment.appointmentNo}}</p>
                  </mat-cell>
              </ng-container>

              <!-- Appointment Date Time Column -->
              <ng-container matColumnDef="appointmentDateTime">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Date and Time</mat-header-cell>
                <mat-cell *matCellDef="let appointment">
                    <p class="text-truncate">{{appointment.createdAt | date : 'medium'}}</p>
                </mat-cell>
              </ng-container>

              <!-- Estimated Cost Column -->
              <ng-container matColumnDef="estimatedCost">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Estimated Cost</mat-header-cell>
                <mat-cell *matCellDef="let appointment">
                    <p class="text-truncate">{{appointment.estimatedCost}}</p>
                </mat-cell>
              </ng-container>

              <!-- Actual Cost Column -->
              <ng-container matColumnDef="actualCost">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Actual Cost</mat-header-cell>
                <mat-cell *matCellDef="let appointment">
                    <p class="text-truncate">{{appointment.actualCost}}</p>
                </mat-cell>
              </ng-container>

               <!-- Status Column -->
               <ng-container matColumnDef="status">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
                <mat-cell *matCellDef="let appointment">
                    <p class="text-truncate">{{appointment.status}}</p>
                </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

              <mat-row *matRowDef="let appointment; columns: displayedColumns;" class="product" matRipple
                  (click)="onClickDetail(appointment)">
              </mat-row>

          </mat-table>

          <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="25"
              [pageSizeOptions]="[5, 10, 25, 100]">
          </mat-paginator>

      </div>
      <!-- / CONTENT CARD -->
  </div>
  <!-- / CENTER -->
</div>