@import "src/@fuse/scss/fuse";

::ng-deep .order-admin-detail-dialog {

    table {
      width: 100%;
    }

    @include media-breakpoint('xs') {
        width: 100%;
    }

    @include media-breakpoint('gt-xs') {
        width: 480px;
    }

    .mat-dialog-container {
        padding: 0;
    }

    .mat-dialog-content {
        height: 100vh;
    }

    .time-slot {
        button {
            margin: 5px;
            width: 31%;
        }
    }

    .dialog-content-wrapper {
        display: flex;
        flex-direction: column;
    }

    .primary-color-input,
    .secondary-color-input {
        padding: 6px 8px;
    }

    

    .mat-form-field {
        &.allocated {
          width: 100px;
          text-align: center;
        }
    }

}
