<div class="dialog-content-wrapper">
  <mat-toolbar class="mat-accent m-0">
      <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
          <span class="title dialog-title">{{dialogTitle}}</span>
          <button mat-icon-button (click)="closeDialoag()" aria-label="Close dialog">
              <mat-icon>close</mat-icon>
          </button>
      </mat-toolbar-row>
  </mat-toolbar>

  <div mat-dialog-content class="p-16 pb-0 m-0 mat-dialog-content" fusePerfectScrollbar>
        <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
            <mat-label>First Name</mat-label>
            <input matInput placeholder="First Name"
                    name="firstName"
                    [(ngModel)]="user.firstName"
                    required>
        </mat-form-field>

        <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
            <mat-label>Last Name</mat-label>
            <input matInput placeholder="Last Name"
                    name="lastName"
                    [(ngModel)]="user.lastName"
                    required>
        </mat-form-field>

        <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email"
                    name="email"
                    type="email"
                    [(ngModel)]="user.email"
                    required
                    [disabled]="mode === 'update'">
        </mat-form-field>

        <div class="w-100-p">
            <mat-checkbox name="isAdmin" [(ngModel)]="isAdmin">Admin Access</mat-checkbox>
        </div>

        <div class="w-100-p" style="margin-top: 20px;">
            <mat-checkbox name="suspended" [(ngModel)]="user.suspended">Suspended</mat-checkbox>
        </div>
  </div>

  <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">
      <button mat-button color="primary"
              class="save-button"
              aria-label="DONE"
              (click)="closeDialoag()">
          CANCEL
      </button>
      <button mat-button color="primary"
              class="save-button"
              aria-label="DONE"
              [disabled]="!formValid()"
              (click)="onClickSave()"
              *ngIf="mode === 'update'">
          SAVE
      </button>
      <button mat-button color="primary"
              class="save-button"
              aria-label="DONE"
              [disabled]="!formValid()"
              (click)="onClickCreate()"
              *ngIf="mode === 'create'">
          CREATE
      </button>
  </div>
</div>
