<div class="dialog-content-wrapper">
  <mat-toolbar class="mat-accent m-0">
      <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
        <div>
          <span class="title dialog-title">{{dialogTitle}}</span>
          <button mat-raised-button (click)="toggleMode()" aria-label="Edit dialog" *ngIf="mode !== 'create'" style="margin-left: 15px;">
            {{mode === 'view' ? 'Edit' : 'View'}}
          </button>
        </div>
        <button mat-icon-button (click)="closeDialoag()" aria-label="Close dialog">
            <mat-icon>close</mat-icon>
        </button>
      </mat-toolbar-row>
  </mat-toolbar>

  <div mat-dialog-content class="p-16 pb-0 m-0 mat-dialog-content" fusePerfectScrollbar *ngIf="mode !== 'view'">
    <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
        <mat-label>Charge Point Number</mat-label>
        <input matInput placeholder="Charge Point Number" name="chargePointNumber" [(ngModel)]="chargePoint.chargePointNumber" required type="number">
    </mat-form-field>

    <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
        <mat-label>Charge Point Model</mat-label>
        <input matInput placeholder="Charge Point Model" name="chargePointModel" [(ngModel)]="chargePoint.chargePointModel">
    </mat-form-field>

    <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
        <mat-label>Serial Number</mat-label>
        <input matInput placeholder="Serial Number" name="serialNumber" [(ngModel)]="chargePoint.serialNumber">
    </mat-form-field>

    <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
        <mat-label>Meter Serial Number</mat-label>
        <input matInput placeholder="Meter Serial Number" name="meterSerialNumber" [(ngModel)]="chargePoint.meterSerialNumber">
    </mat-form-field>

    <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
        <mat-label>Meter Type</mat-label>
        <input matInput placeholder="Meter Type" name="meterType" [(ngModel)]="chargePoint.meterType">
    </mat-form-field>

    <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
        <mat-label>Vendor</mat-label>
        <input matInput placeholder="Vendor" name="vendor" [(ngModel)]="chargePoint.vendor">
    </mat-form-field>

    <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
        <mat-label>OCPP FW Version</mat-label>
        <input matInput placeholder="OCPP FW Version" name="ocppFwVersion" [(ngModel)]="chargePoint.ocppFwVersion">
    </mat-form-field>

    <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
        <mat-label>SECC FW Version</mat-label>
        <input matInput placeholder="SECC FW Version" name="seccFwVersion" [(ngModel)]="chargePoint.seccFwVersion">
    </mat-form-field>

    <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
        <mat-label>ICCID</mat-label>
        <input matInput placeholder="ICCID" name="iccid" [(ngModel)]="chargePoint.iccid">
    </mat-form-field>

    <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
        <mat-label>IMSI</mat-label>
        <input matInput placeholder="IMSI" name="imsi" [(ngModel)]="chargePoint.imsi">
    </mat-form-field>

    <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
        <mat-label>Network</mat-label>
        <input matInput placeholder="Network" name="network" [(ngModel)]="chargePoint.network">
    </mat-form-field>

    <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
        <mat-label>Timezone</mat-label>
        <input matInput placeholder="Timezone" name="timezone" [(ngModel)]="chargePoint.timezone">
    </mat-form-field>

    <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
        <mat-label>Last Connect Time</mat-label>
        <input matInput placeholder="last Connect Time" name="lastConnectTime" [(ngModel)]="chargePoint.lastConnectTime">
    </mat-form-field>

    <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
        <mat-label>Online Time</mat-label>
        <input matInput placeholder="Online Time" name="onlineTime" [(ngModel)]="chargePoint.onlineTime">
    </mat-form-field>

    <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
        <mat-label>Note</mat-label>
        <textarea matInput placeholder="Note" name="note" [(ngModel)]="chargePoint.note"></textarea>
    </mat-form-field>
  </div>

  <div mat-dialog-content class="p-16 pb-0 m-0 mat-dialog-content" fusePerfectScrollbar *ngIf="mode === 'view'">
      <p><span class="bold">Charge Point No :</span>  {{chargePoint.chargePointNumber}}</p>
      <p><span class="bold">Charge Point Model :</span>  {{chargePoint.chargePointModel}}</p>
      <p><span class="bold">Serial Number :</span>  {{chargePoint.serialNumber}}</p>
      <p><span class="bold">Meter Serial Number :</span>  {{chargePoint.meterSerialNumber}}</p>
      <p><span class="bold">Meter Type :</span>  {{chargePoint.meterType}}</p>
      <p><span class="bold">Vendor :</span>  {{chargePoint.vendor}}</p>
      <p><span class="bold">OCPP FW Version :</span>  {{chargePoint.ocppFwVersion}}</p>
      <p><span class="bold">SECC FW Version :</span>  {{chargePoint.seccFwVersion}}</p>
      <p><span class="bold">ICCID :</span>  {{chargePoint.iccid}}</p>
      <p><span class="bold">IMSI :</span>  {{chargePoint.imsi}}</p>
      <p><span class="bold">Network :</span>  {{chargePoint.network}}</p>
      <p><span class="bold">Timezone :</span>  {{chargePoint.timezone}}</p>
      <p><span class="bold">Last Connect Time :</span>  {{chargePoint.lastConnectTime}}</p>
      <p><span class="bold">Online Time :</span>  {{chargePoint.onlineTime}}</p>
      <p><span class="bold">Note :</span>  {{chargePoint.note}}</p>
  </div>
  

  <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">
      <button mat-button color="primary" class="save-button" aria-label="DONE" (click)="closeDialoag()">
          CANCEL
      </button>
      <button mat-button color="primary" class="save-button" aria-label="DONE" [disabled]="!formValid()"
          (click)="onClickSave()" *ngIf="mode === 'update'">
          SAVE
      </button>
      <button mat-button color="primary" class="save-button" aria-label="DONE" [disabled]="!formValid()"
          (click)="onClickCreate()" *ngIf="mode === 'create'">
          CREATE
      </button>
  </div>
</div>