<div class="dialog-content-wrapper">
  <mat-toolbar class="mat-accent m-0">
    <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
      <span class="title dialog-title">{{dialogTitle}}</span>
      <button mat-icon-button (click)="closeDialoag()" aria-label="Close dialog">
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <div mat-dialog-content class="p-16 pb-0 m-0 mat-dialog-content" fusePerfectScrollbar>
    <h2 class="m-0">Add Shipping Address</h2>

    <mat-form-field class="w-50-p" *ngIf="user.address.length > 0">
      <mat-label>Use Previous Address</mat-label>
      <mat-select (selectionChange)="onChangeSelectedAddress()" [(ngModel)]="selectedAddress">
        <mat-option *ngFor="let address of user.address" [value]="address">{{address.addressName}}</mat-option>
      </mat-select>
    </mat-form-field>

    <button class="w-15-p" style="margin-left: 10px;" mat-raised-button color="primary"
      (click)="onClickCancelPreviousAddress()" *ngIf="hideSaveThisAddress">
      Cancel
    </button>

    <mat-form-field class="w-100-p">
      <mat-label>Facility Name</mat-label>
      <input matInput placeholder="Facility Name" name="facilityName" (focusout)="onFocusOutField($event)" [(ngModel)]="newAddress.addressName" required>
    </mat-form-field>

    <mat-form-field class="w-100-p">
      <mat-label>Address</mat-label>
      <input matInput placeholder="Address" name="addressLine1" (focusout)="onFocusOutField($event)" [(ngModel)]="newAddress.addressLine1" required>
    </mat-form-field>

    <mat-form-field class="w-50-p">
      <mat-label>City</mat-label>
      <input matInput placeholder="City" name="city" (focusout)="onFocusOutField($event)" [(ngModel)]="newAddress.city" required>
    </mat-form-field>

    <mat-form-field class="w-50-p">
      <mat-label>Province</mat-label>
      <input matInput placeholder="Province" name="province" (focusout)="onFocusOutField($event)" [(ngModel)]="newAddress.province" required>
    </mat-form-field>

    <mat-form-field class="w-100-p">
      <mat-label>Postal Code</mat-label>
      <input matInput placeholder="Postal Code" name="postalCode" mask="S0S 0S0" (focusout)="onFocusOutPostalCode($event)" [(ngModel)]="newAddress.postalCode" required>
    </mat-form-field>

    <div class="w-100-p" *ngIf="!hideSaveThisAddress">
      <mat-checkbox name="saveThisAddress" [(ngModel)]="saveThisAddress">Save This Address</mat-checkbox>
    </div>

    <h2 style="margin-top: 30px;">Order Details</h2>

    <mat-form-field class="w-100-p">
      <input matInput (onChange)="onChangeSelectedDate()" [min]="minDate" [matDatepicker]="dp"
        placeholder="Pick a Required Date" [(ngModel)]="orderRequiredDate" (focus)="dp.open()" required>
      <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
      <mat-datepicker #dp></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="w-100-p">
      <mat-label>Order Priority</mat-label>
      <mat-select [(ngModel)]="orderPriority" name="orderPriority" required>
        <mat-option *ngFor="let priority of orderPriorities" [value]="priority">{{priority}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="w-100-p">
      <mat-label>Facility Type</mat-label>
      <mat-select [(ngModel)]="facilityType" name="facilityType" required>
        <mat-option *ngFor="let facility of facilityTypes" [value]="facility">{{facility}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="w-100-p">
      <textarea matInput placeholder="Hours of Operation / Delivery Instructions" name="deliveryInstructions"
        [(ngModel)]="deliveryInstructions" rows="5">
      </textarea>
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width: 100%; margin-bottom: 30px;">

      <!-- Position Column -->
      <ng-container matColumnDef="materialNo">
        <th mat-header-cell *matHeaderCellDef> Material No. </th>
        <td mat-cell *matCellDef="let element"> {{element.number}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef> Quantity </th>
        <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="unitOfMeasure">
        <th mat-header-cell *matHeaderCellDef> Unit of Measure </th>
        <td mat-cell *matCellDef="let element"> {{element.unitOfMeasure}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">
    <button mat-raised-button color="warn" (click)="onClickAdjust()">
      Adjust My Order
    </button>
    <button mat-raised-button color="primary" (click)="onClickSubmitOrder()" [disabled]="!formValid() || submittingOrder">
      Submit Order
    </button>
  </div>
</div>