<div class="dialog-content-wrapper">
  <mat-toolbar class="mat-accent m-0">
      <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
        <div>
          <span class="title dialog-title">{{dialogTitle}}</span>
          <button mat-raised-button (click)="toggleMode()" aria-label="Edit dialog" *ngIf="mode !== 'create'" style="margin-left: 15px;">
            {{mode === 'view' ? 'Edit' : 'View'}}
          </button>
        </div>
        <button mat-icon-button (click)="closeDialoag()" aria-label="Close dialog">
            <mat-icon>close</mat-icon>
        </button>
      </mat-toolbar-row>
  </mat-toolbar>

  <div mat-dialog-content class="p-16 pb-0 m-0 mat-dialog-content" fusePerfectScrollbar *ngIf="mode !== 'view'">
      <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
          <mat-label>Strategy Name</mat-label>
          <input matInput placeholder="Strategy Name" name="strategyName" [(ngModel)]="strategy.strategyName" required>
      </mat-form-field>
  </div>

  <div mat-dialog-content class="p-16 pb-0 m-0 mat-dialog-content" fusePerfectScrollbar *ngIf="mode === 'view'">
      <p><span class="bold">Strategy Name No :</span>  {{strategy.strategyName}}</p>
  </div>
  

  <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">
      <button mat-button color="primary" class="save-button" aria-label="DONE" (click)="closeDialoag()">
          CANCEL
      </button>
      <button mat-button color="primary" class="save-button" aria-label="DONE" [disabled]="!formValid()"
          (click)="onClickSave()" *ngIf="mode === 'update'">
          SAVE
      </button>
      <button mat-button color="primary" class="save-button" aria-label="DONE" [disabled]="!formValid()"
          (click)="onClickCreate()" *ngIf="mode === 'create'">
          CREATE
      </button>
  </div>
</div>