<div id="events" class="page-layout carded fullwidth inner-scroll">

  <!-- TOP BACKGROUND -->
  <div class="top-bg accent"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">

      <!-- HEADER -->
      <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
          fxLayoutAlign.gt-sm="space-between center">

          <!-- APP TITLE -->
          <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
              <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                  Events
              </span>
          </div>
          <!-- / APP TITLE -->

          <!-- SEARCH -->
          <div class="search-wrapper mx-32 mx-md-0">
              <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                  <mat-icon>search</mat-icon>
                  <input (keyup)="applyFilter($event.target.value)" placeholder="Search for events">
              </div>
          </div>
          <!-- / SEARCH -->

      </div>
      <!-- / HEADER -->

      <!-- CONTENT CARD -->
      <div class="content-card">

          <mat-table class="events-table" #table [dataSource]="dataSource" matSort [@animateStagger]="{value:'50'}"
              fusePerfectScrollbar>

              <!-- Username Column -->
              <ng-container matColumnDef="name">
                  <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
                  <mat-cell *matCellDef="let event">
                      <p class="text-truncate">{{event.userName}}</p>
                  </mat-cell>
              </ng-container>

              <!-- Event column -->
              <ng-container matColumnDef="event">
                  <mat-header-cell *matHeaderCellDef>Event</mat-header-cell>
                  <mat-cell *matCellDef="let event">
                      <p class="text-truncate">{{event.event}}</p>
                  </mat-cell>
              </ng-container>

              <!-- Time column -->
              <ng-container matColumnDef="time">
                  <mat-header-cell *matHeaderCellDef>Time</mat-header-cell>
                  <mat-cell *matCellDef="let event">
                      <p class="text-truncate">{{event.createdAt | date:'MMM d, y h:mm a'}}</p>
                  </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

              <mat-row *matRowDef="let event; columns: displayedColumns;" class="product" matRipple>
              </mat-row>

          </mat-table>

          <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="25"
              [pageSizeOptions]="[5, 10, 25, 100]">
          </mat-paginator>

      </div>
      <!-- / CONTENT CARD -->
  </div>
  <!-- / CENTER -->
</div>