<div id="stations" class="page-layout carded fullwidth inner-scroll">

  <!-- TOP BACKGROUND -->
  <div class="top-bg accent"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">

      <!-- HEADER -->
      <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
          fxLayoutAlign.gt-sm="space-between center">

          <!-- APP TITLE -->
          <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
              <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                  Stations
              </span>
              <span style="margin: 0 15px;" class="logo-text h1"
                  [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                  <button mat-raised-button (click)="onClickCreateStation()">Add</button>
              </span>
          </div>
          <!-- / APP TITLE -->

          <!-- SEARCH -->
          <div class="search-wrapper mx-32 mx-md-0">
              <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                  <mat-icon>search</mat-icon>
                  <input (keyup)="applyFilter($event.target.value)" placeholder="Search for Stations">
              </div>
          </div>
          <!-- / SEARCH -->

      </div>
      <!-- / HEADER -->

      <!-- CONTENT CARD -->
      <div class="content-card">

          <mat-table class="stations-table" #table [dataSource]="dataSource" matSort [@animateStagger]="{value:'50'}" fusePerfectScrollbar>

              <!-- ID Column -->
              <ng-container matColumnDef="stationNumber">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Station No</mat-header-cell>
                  <mat-cell *matCellDef="let station">
                      <p class="text-truncate">{{station.stationNumber}}</p>
                  </mat-cell>
              </ng-container>

              <!-- Nurse No column -->
              <ng-container matColumnDef="stationName">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Station Name</mat-header-cell>
                  <mat-cell *matCellDef="let station">
                      <p class="text-truncate">{{station.stationName}}</p>
                  </mat-cell>
              </ng-container>

              <!-- Business Start Time column -->
              <ng-container matColumnDef="businessStartTime">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Business Start Time</mat-header-cell>
                  <mat-cell *matCellDef="let station">
                      <p class="text-truncate">{{station.businessStartTime}}</p>
                  </mat-cell>
              </ng-container>

              <!-- Business End Time column -->
              <ng-container matColumnDef="businessEndTime">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Business End Time</mat-header-cell>
                  <mat-cell *matCellDef="let station">
                      <p class="text-truncate">{{station.businessEndTime}}</p>
                  </mat-cell>
              </ng-container>

              <!-- City column -->
              <ng-container matColumnDef="city">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>City</mat-header-cell>
                  <mat-cell *matCellDef="let station">
                      <p class="text-truncate">{{station.city}}</p>
                  </mat-cell>
              </ng-container>

              <!-- Phone Number column -->
              <ng-container matColumnDef="phoneNumber">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Phone No</mat-header-cell>
                <mat-cell *matCellDef="let station">
                    <p class="text-truncate">{{station.phoneNumber}}</p>
                </mat-cell>
            </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

              <mat-row *matRowDef="let station; columns: displayedColumns;" class="product" matRipple
                  (click)="onClickStationDetail(station)">
              </mat-row>

          </mat-table>

          <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="25"
              [pageSizeOptions]="[5, 10, 25, 100]">
          </mat-paginator>

      </div>
      <!-- / CONTENT CARD -->
  </div>
  <!-- / CENTER -->
</div>