.page-layout {
  .appointment-list{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      .fuse-card {
          max-width: 290px;
          min-width: 290px;
          margin: 10px;
          text-align: center;
          padding: 30px;
      }
  }

  .bookAppointmentForm{
      mat-form-field {
          display: block;
      }
  }
}

