<div class="page-layout simple fullwidth">
  <div class="header accent p-24" fxLayout="row" fxLayoutAlign="start center">
      <h2>Dashboard</h2>
  </div>
  <div class="content p-24">
      <mat-card *ngIf="loading">
          <h2>Loading...</h2>
      </mat-card>
      <div *ngIf="!loading ">
        <div class="appointment-list">
            <div class="fuse-card">
                <div class="p-16">
                    <div class="h1">Total Appointments</div>
                    <div class="h2">{{appointments}}</div>
                </div>
            </div>
            <div class="fuse-card">
                <div class="p-16">
                    <div class="h1">Total Stations</div>
                    <div class="h2">{{stations}}</div>
                </div>
            </div>
            <div class="fuse-card">
                <div class="p-16">
                    <div class="h1">Total Users</div>
                    <div class="h2">{{users}}</div>
                </div>
            </div>
        </div>
      </div>
  </div>
</div>
 